[Unit]
Description=MeiliSearch
After=systemd-user-sessions.service

[Service]
Type=simple
Environment="MEILI_DUMP_DIR=/var/opt/meilisearch/dumps"
ExecStart=/usr/bin/meilisearch --db-path /var/lib/meilisearch/data.ms --env development --dump-dir $MEILI_DUMP_DIR
Environment="MEILI_SERVER_PROVIDER=provider_name"

[Install]
WantedBy=default.target
